@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto Flex, Helvetica, sans-serif;
    font-weight:400;
}

h1, h2 {
    font-family: Roboto Flex, Halvetica;
    text-transform: uppercase;
    font-weight:400;
    color:#3a3a3a;
    font-size: 150%;

}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    font-weight: bolder;

}

/* menu links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu, #logo {
    line-height:75px;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero-image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h2 {
    color:#fff;
    font-weight: bolder;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center center;
    background-size: cover;
   
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
    
    /* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 114%;
    font-family: roboto flex, sans-serif;
    text-transform:uppercase;
    letter-spacing: 4px;
    

    width: 300px;
    height: 200px;
    
    padding-top: 20%;
    padding-left: 10px;
    
    

    background-color: #2f4f4f;
    
    bottom: 40px;
    right: 150px;

    position: absolute;
}

/* club ethos */

#club-ethos h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 250%;
    font-family: Roboto Flex, Helvetica, sans-serif;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width:33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;

}

#circle-container {
    width: 500px;
    height: 500px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*Selecting the goal*/

#selecting-the-goal {
    background-color:  	 #2f4f4f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}



#selecting-the-goal div {
    color: #fafafa;
    width: 33%;
    height: 300px;
    float: left;
    text-align:center;
    border: 2px solid white;
    box-sizing: border-box;
    padding-top: 2%; 
    padding-left: 5%;
    padding-right: 5%;

}

#selecting-the-goal h2 {
    color:#fafafa;
    font-size: 250%;
    margin-top: 10%;
    font-weight: 900;
    font-family: roboto flex;
}

#slecting-the-goal h3 {
    color: #fafafa;
    font-size: 200%;
}

footer {
    height:150px;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;

}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

    /*form section*/


.signup-form {
    
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: auto;
    position: absolute;
    padding: 15%;
    height: 400px;
}

.signup-form h2 {
    color:#fafafa;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #fafafa;
    border-radius: 2px;  
}

.text-input:hover {
    border-color: #f16c6b;

}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#f16c6b;
    color:#fafafa;
    display:block;

}

.join-button:hover {
    background-color: #fafafa;
    color:#f16c6b;

}